@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply transition-colors duration-200;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 28 38% 45%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 28 38% 85%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 28 38% 85%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 28 38% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 28 38% 45%;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 28 38% 90%;
 
    --card: 0 0% 12%;
    --card-foreground: 28 38% 90%;
 
    --popover: 0 0% 12%;
    --popover-foreground: 28 38% 90%;
 
    --primary: 28 38% 40%;
    --primary-foreground: 28 38% 90%;
 
    --secondary: 28 38% 60%;
    --secondary-foreground: 28 38% 90%;
 
    --muted: 28 38% 60%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 28 38% 60%;
    --accent-foreground: 28 38% 90%; 
    --border: 0 0% 40%;
    --input: 0 0% 40%; 
    --ring: 28 38% 60%; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.theme-wrapper {
  transition: all 0.2s ease-in-out;
}

.bg-gradient-transition {
  transition: background-image 0.2s ease-in-out;
}
